$tabs: (
  house: #e7f4ff,
  inbox: #ffdab0,
  students: #cdf0da,
  interested: #ecdff0,
);

$animation-speed: 200ms;

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

.tabbar {
  height: 83px;
  position: fixed;
  box-shadow: 0 -2px 11px rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
}

.tabs {
  display: flex;
  padding: 10px 10px 0;
}

.tab {
  flex: 1;
  position: relative;
  height: 47px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  transition: all $animation-speed ease;

  span {
    padding: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: all $animation-speed ease;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 900;
  }

  & + & {
    margin-left: 10px;
  }

  &__image {
    width: 38px;
    height: 36px;
    position: relative;

    &-selected,
    &-deselected {
      position: absolute;
      width: 38px;
      height: 36px;
      opacity: 0;
    }

    &-deselected {
      opacity: 1;
    }
  }
}

.cta {
  position: relative;
  width: 39px;
  height: 39px;
  opacity: 0;
  width: 0;
  overflow: hidden;
  transition: all $animation-speed ease;

  &:before {
    content: '';
    position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 200px;
    background: 50% 50% url('images/plus.svg') no-repeat #ff9083 ;
  }
}

@each $tab, $background in $tabs {
  .tab--#{$tab} {
    background: white;

    .tab__image {
      .tab__image-selected {
        background-image: url('images/#{$tab}-selected.svg');
      }

      .tab__image-deselected {
        background-image: url('images/#{$tab}-deselected.svg');
      }
    }

    &.tab--selected {
      flex: 1.5;
      background: $background;
      padding: 0 5px 0 10px;

      span {
        padding: 0 7px;
        width: auto;
        animation-name: cta;
        animation: cta $animation-speed forwards;
        animation-delay: $animation-speed;
      }

      .cta {
        animation-name: cta;
        animation: cta $animation-speed forwards;
        animation-delay: $animation-speed;
        width: 39px;
      }

      .tab__image .tab__image-selected {
        opacity: 1;
      }

      .tab__image .tab__image-deselected {
        opacity: 0;
      }
    }
  }
}

.swipebar {
  position: fixed;
  width: 100px;
  margin: 0 auto;
  bottom: 10px;
  height: 5px;
  background: #F4F4F4;
  border-radius: 3px;
  left: 50%;
  margin-left: -50px;
}

@keyframes cta {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
